FetchXmlBuilder/Resources/fetch.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="fetch" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:mstns="http://tempuri.org/fetch/unique">
	<xs:annotation>
		<xs:documentation>Schema name: fetch-schema</xs:documentation>
	</xs:annotation>
	<!--

		condition element - used for capturing entity and link-entity
							"where" clause criteria

	-->
  <xs:complexType name="FetchConditionValueType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <!-- Not in latest documentation but still appear to be valid -->
        <xs:attribute name="uiname" type="xs:string" />
        <xs:attribute name="uitype" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
	<!-- [XDR-XSD] "condition" element  -->
	<xs:complexType name="FetchConditionType">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<!-- -->
			<!--
	The attribute "value" is used for all operators that compare to a single value (for example, eq).
	The element "value" is used for operators that compare to multiple values (for example, in).
	Some operators require neither the attribute "value" or the element "value" (for example, null).
-->
			<xs:element name="value" type="FetchConditionValueType" minOccurs="0" maxOccurs="unbounded" />
		</xs:choice>
		<!-- -->
    <xs:attribute name="attribute" type="xs:string"></xs:attribute>
    <xs:attribute name="entityname" type="xs:string"></xs:attribute>
    <xs:attribute name="operator" use="required" type="operator"></xs:attribute>
    <xs:attribute name="value" type="xs:string"></xs:attribute>
    <xs:attribute name="valueof" type="xs:string"></xs:attribute>

    <!-- Not in latest documentation but still appear to be valid -->
    <xs:attribute name="alias" type="xs:string" />
    <xs:attribute name="uihidden" type="xs:boolean" />
    <xs:attribute name="uiname" type="xs:string" />
    <xs:attribute name="uitype" type="xs:string" />
	</xs:complexType>
	<!--

		filter element - used for constructing complex conditionals
						 legal on entity and link-entity

	-->
	<!-- [XDR-XSD] "filter" element  -->
  <xs:complexType name="FetchFilterType">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<!-- -->
			<xs:element name="condition" type="FetchConditionType" minOccurs="0" maxOccurs="500" />
      <xs:element name="filter" type="FetchFilterType" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="link-entity" type="FetchLinkEntityType" minOccurs="0" maxOccurs="unbounded" />
		</xs:choice>
		<!-- -->
    <xs:attribute name="type" default="and">
      <xs:simpleType>
        <xs:restriction base="xs:NMTOKEN">
          <xs:enumeration value="and" />
          <xs:enumeration value="or" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="hint">
      <xs:simpleType>
        <xs:restriction base="xs:NMTOKEN">
          <xs:enumeration value="union" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="isquickfindfields" type="xs:boolean" />
    <xs:attribute name="overridequickfindrecordlimitdisabled" type="xs:boolean" />
    <xs:attribute name="overridequickfindrecordlimitenabled" type="xs:boolean" />
	</xs:complexType>
	<!--

		attribute elements - used for selecting attributes from the
							 surrounding entity / link-entity, these
							 values are returned as part of the fetch

	-->
	<!-- [XDR-XSD] "all-attributes" element  -->
  <xs:complexType name="FetchAllAttributesType">
  </xs:complexType>
  
	<!-- [XDR-XSD] "attribute" element  -->
	<xs:complexType name="FetchAttributeType">
    <xs:attribute name="aggregate" type="AggregateType"></xs:attribute>
    <xs:attribute name="alias" type="xs:string"></xs:attribute>
    <xs:attribute name="dategrouping" type="DateGroupingType"></xs:attribute>
    <xs:attribute name="distinct" type="xs:boolean"></xs:attribute>
    <xs:attribute name="groupby" type="xs:boolean"></xs:attribute>
    <xs:attribute name="name" use="required" type="xs:string"></xs:attribute>
    <xs:attribute name="rowaggregate">
      <xs:simpleType>
        <xs:restriction base="xs:NMTOKEN">
          <xs:enumeration value="CountChildren" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
		<xs:attribute name="usertimezone" type="xs:boolean"></xs:attribute>
	</xs:complexType>
	<!--

	order element - used to specify a sort order

	-->
	<!-- [XDR-XSD] "order" element  -->
	<xs:complexType name="FetchOrderType">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<!-- -->
		</xs:choice>
		<!-- -->
		<xs:attribute name="attribute" type="xs:string"></xs:attribute>
		<xs:attribute name="alias" type="xs:string"></xs:attribute>
		<xs:attribute name="descending" default="false" type="xs:boolean"></xs:attribute>
    <xs:attribute name="entityname" type="xs:string"></xs:attribute>
	</xs:complexType>
	<!--

		link-entity element - used for joining one entity to its "parent"

	-->
	<!-- [XDR-XSD] "link-entity" element  -->
	<xs:complexType name="FetchLinkEntityType">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<!-- -->
			<xs:element name="all-attributes" type="FetchAllAttributesType" minOccurs="0" />
			<xs:element name="attribute" type="FetchAttributeType" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="order" type="FetchOrderType" minOccurs="0" maxOccurs="1" />
      <xs:element name="link-entity" type="FetchLinkEntityType" />
      <xs:element name="filter" type="FetchFilterType" minOccurs="0" />
		</xs:choice>
		<!-- -->
		<xs:attribute name="name" use="required" type="xs:string"></xs:attribute>
		<xs:attribute name="to" type="xs:string"></xs:attribute>
		<xs:attribute name="from" type="xs:string"></xs:attribute>
		<xs:attribute name="alias" type="xs:string"></xs:attribute>
		<xs:attribute name="link-type">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="inner" />
          <xs:enumeration value="outer" />
          <xs:enumeration value="any" />
          <xs:enumeration value="not any" />
          <xs:enumeration value="all" />
          <xs:enumeration value="not all" />
          <xs:enumeration value="exists" />
          <xs:enumeration value="in" />
          <xs:enumeration value="matchfirstrowusingcrossapply" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
		<xs:attribute name="intersect" type="xs:boolean"></xs:attribute>

    <!-- Not in latest documentation but still appear to be valid -->
    <xs:attribute name="enableprefiltering" type="xs:boolean" />
    <xs:attribute name="prefilterparametername" type="xs:string" />
	</xs:complexType>
	<!--

		entity element - used for specifying the root element for a fetch, only
						 one root entity is allowed in a given fetch, all others
						 are dependent on this entity and are marked as
						 link-entity

	-->
	<!-- [XDR-XSD] "entity" element  -->
	<xs:complexType name="FetchEntityType">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<!-- -->
			<xs:element name="all-attributes" type="FetchAllAttributesType" minOccurs="0" />
			<xs:element name="attribute" type="FetchAttributeType" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="order" type="FetchOrderType" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="link-entity" type="FetchLinkEntityType" />
			<xs:element name="filter" type="FetchFilterType" minOccurs="0" />
		</xs:choice>
		<!-- -->
		<xs:attribute name="name" use="required" type="xs:string"></xs:attribute>

    <!-- Not in latest documentation but still appear to be valid -->
    <xs:attribute name="enableprefiltering" type="xs:boolean" />
    <xs:attribute name="prefilterparametername" type="xs:string" />
	</xs:complexType>
	<!--

		fetch element - root element for the query

	-->
	<!-- [XDR-XSD] "fetch" element  -->
	<xs:element name="fetch" type="FetchType" />
	<xs:complexType name="FetchType">
		<xs:choice minOccurs="1" maxOccurs="1">
			<!-- -->
			<xs:element name="entity" type="FetchEntityType" />
		</xs:choice>
		<!-- -->
    <xs:attribute name="aggregate" type="xs:boolean" />
    <xs:attribute name="aggregatelimit" type="xs:integer" />
		<xs:attribute name="count" type="xs:integer" />
    <xs:attribute name="datasource">
      <xs:simpleType>
        <xs:restriction base="xs:NMTOKEN">
          <xs:enumeration value="retained" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="distinct" type="xs:boolean" />
    <xs:attribute name="latematerialize" type="xs:boolean" />
    <xs:attribute name="no-lock" type="xs:boolean" />
    <xs:attribute name="options" type="xs:string" />
    <xs:attribute name="page" type="xs:integer" />
    <xs:attribute name="paging-cookie" type="xs:string" />
    <xs:attribute name="returntotalrecordcount" type="xs:boolean" />
    <xs:attribute name="top" type="xs:integer" />
    <xs:attribute name="useraworderby" type="xs:boolean" />
	</xs:complexType>
  
	<xs:simpleType name="operator">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="eq" />
			<xs:enumeration value="neq" />
			<xs:enumeration value="ne" />
			<xs:enumeration value="gt" />
			<xs:enumeration value="ge" />
			<xs:enumeration value="le" />
			<xs:enumeration value="lt" />
			<xs:enumeration value="like" />
			<xs:enumeration value="not-like" />
			<xs:enumeration value="in" />
			<xs:enumeration value="not-in" />
			<xs:enumeration value="between" />
			<xs:enumeration value="not-between" />
			<xs:enumeration value="null" />
			<xs:enumeration value="not-null" />
			<xs:enumeration value="yesterday" />
			<xs:enumeration value="today" />
			<xs:enumeration value="tomorrow" />
			<xs:enumeration value="last-seven-days" />
			<xs:enumeration value="next-seven-days" />
			<xs:enumeration value="last-week" />
			<xs:enumeration value="this-week" />
			<xs:enumeration value="next-week" />
			<xs:enumeration value="last-month" />
			<xs:enumeration value="this-month" />
			<xs:enumeration value="next-month" />
			<xs:enumeration value="on" />
			<xs:enumeration value="on-or-before" />
			<xs:enumeration value="on-or-after" />
			<xs:enumeration value="last-year" />
			<xs:enumeration value="this-year" />
			<xs:enumeration value="next-year" />
			<xs:enumeration value="last-x-hours" />
			<xs:enumeration value="next-x-hours" />
			<xs:enumeration value="last-x-days" />
			<xs:enumeration value="next-x-days" />
			<xs:enumeration value="last-x-weeks" />
			<xs:enumeration value="next-x-weeks" />
			<xs:enumeration value="last-x-months" />
			<xs:enumeration value="next-x-months" />
			<xs:enumeration value="olderthan-x-months" />
			<xs:enumeration value="olderthan-x-years" />
			<xs:enumeration value="olderthan-x-weeks" />
			<xs:enumeration value="olderthan-x-days" />
			<xs:enumeration value="olderthan-x-hours" />
			<xs:enumeration value="olderthan-x-minutes" />
			<xs:enumeration value="last-x-years" />
			<xs:enumeration value="next-x-years" />
			<xs:enumeration value="eq-userid" />
			<xs:enumeration value="ne-userid" />
			<xs:enumeration value="eq-userteams" />
			<xs:enumeration value="eq-useroruserteams" />
			<xs:enumeration value="eq-useroruserhierarchy" />
			<xs:enumeration value="eq-useroruserhierarchyandteams" />
			<xs:enumeration value="eq-businessid" />
			<xs:enumeration value="ne-businessid" />
			<xs:enumeration value="eq-userlanguage" />
			<xs:enumeration value="this-fiscal-year" />
			<xs:enumeration value="this-fiscal-period" />
			<xs:enumeration value="next-fiscal-year" />
			<xs:enumeration value="next-fiscal-period" />
			<xs:enumeration value="last-fiscal-year" />
			<xs:enumeration value="last-fiscal-period" />
			<xs:enumeration value="last-x-fiscal-years" />
			<xs:enumeration value="last-x-fiscal-periods" />
			<xs:enumeration value="next-x-fiscal-years" />
			<xs:enumeration value="next-x-fiscal-periods" />
			<xs:enumeration value="in-fiscal-year" />
			<xs:enumeration value="in-fiscal-period" />
			<xs:enumeration value="in-fiscal-period-and-year" />
			<xs:enumeration value="in-or-before-fiscal-period-and-year" />
			<xs:enumeration value="in-or-after-fiscal-period-and-year" />
			<xs:enumeration value="begins-with" />
			<xs:enumeration value="not-begin-with" />
			<xs:enumeration value="ends-with" />
			<xs:enumeration value="not-end-with" />
			<xs:enumeration value="under" />
			<xs:enumeration value="eq-or-under" />
			<xs:enumeration value="not-under" />
			<xs:enumeration value="above" />
			<xs:enumeration value="eq-or-above" />
			<xs:enumeration value="contain-values" />
			<xs:enumeration value="not-contain-values" />
		</xs:restriction>
	</xs:simpleType>
  
	<xs:simpleType name="AggregateType">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="count" />
			<xs:enumeration value="countcolumn" />
			<xs:enumeration value="sum" />
			<xs:enumeration value="avg" />
			<xs:enumeration value="min" />
			<xs:enumeration value="max" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RowAggregateType">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="countchildren" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateGroupingType">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="day" />
			<xs:enumeration value="week" />
			<xs:enumeration value="month" />
			<xs:enumeration value="quarter" />
			<xs:enumeration value="year" />
			<xs:enumeration value="fiscal-period" />
			<xs:enumeration value="fiscal-year" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>